@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200);

/* Limpiar todos los estilos por defecto */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, encabezado, hgroup, menu, menu, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size:100%;
		font: inherit;
		vertical-align: baseline;
		
	}

	article, aside, details, figcaption, figure, footer, encabezado, hgroup, menu, menu, section {
		display: inline-block;
	}

	body {
		line-height: 1;
	}



	}
	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Modelos de Caja */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Contenedores Principales */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1200px;
		min-width: 960px;
	}

	.container.\37 5\25 {
		width: 720px;
	}

	.container.\35 0\25 {
		width: 480px;
	}

	.container.\32 5\25 {
		width: 240px;
	}

	.container {
		width: 960px;
	}

	@media screen and (min-width: 737px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.container.\37 5\25 {
			width: 900px;
		}

		.container.\35 0\25 {
			width: 600px;
		}

		.container.\32 5\25 {
			width: 300px;
		}

		.container {
			width: 1200px;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1250px;
			min-width: 1000px;
		}

		.container.\37 5\25 {
			width: 750px;
		}

		.container.\35 0\25 {
			width: 500px;
		}

		.container.\32 5\25 {
			width: 250px;
		}

		.container {
			width: 1000px;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Principal */

	.fila {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.fila > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.fila:after, .fila:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.fila.uniform > * > :first-child {
		margin-top: 0;
	}

	.fila.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.fila.\30 \25 > * {
		padding: 0 0 0 0px;
	}

	.fila.\30 \25 {
		margin: 0 0 -1px 0px;
	}

	.fila.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.fila.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.fila > * {
		padding: 0 0 0 40px;
	}

	.fila {
		margin: 0 0 -1px -40px;
	}

	.fila.uniform > * {
		padding: 40px 0 0 40px;
	}

	.fila.uniform {
		margin: -40px 0 -1px -40px;
	}

	.fila.\32 00\25 > * {
		padding: 0 0 0 80px;
	}

	.fila.\32 00\25 {
		margin: 0 0 -1px -80px;
	}

	.fila.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.fila.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.fila.\31 50\25 > * {
		padding: 0 0 0 60px;
	}

	.fila.\31 50\25 {
		margin: 0 0 -1px -60px;
	}

	.fila.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.fila.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.fila.\35 0\25 > * {
		padding: 0 0 0 20px;
	}

	.fila.\35 0\25 {
		margin: 0 0 -1px -20px;
	}

	.fila.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.fila.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.fila.\32 5\25 > * {
		padding: 0 0 0 10px;
	}

	.fila.\32 5\25 {
		margin: 0 0 -1px -10px;
	}

	.fila.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.fila.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (min-width: 737px) {

		.fila > * {
			padding: 25px 0 0 25px;
		}

		.fila {
			margin: -25px 0 -1px -25px;
		}

		.fila.uniform > * {
			padding: 25px 0 0 25px;
		}

		.fila.uniform {
			margin: -25px 0 -1px -25px;
		}

		.fila.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.fila.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.fila.uniform.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.fila.uniform.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.fila.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.fila.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.fila.uniform.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.fila.uniform.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.fila.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.fila.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.fila.uniform.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.fila.uniform.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.fila.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.fila.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.fila.uniform.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.fila.uniform.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.\31 2u\28desktop\29, .\31 2u\24\28desktop\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28desktop\29, .\31 1u\24\28desktop\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28desktop\29, .\31 0u\24\28desktop\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28desktop\29, .\39 u\24\28desktop\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28desktop\29, .\38 u\24\28desktop\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28desktop\29, .\37 u\24\28desktop\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28desktop\29, .\36 u\24\28desktop\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28desktop\29, .\35 u\24\28desktop\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28desktop\29, .\34 u\24\28desktop\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28desktop\29, .\33 u\24\28desktop\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28desktop\29, .\32 u\24\28desktop\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28desktop\29, .\31 u\24\28desktop\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28desktop\29 + *,
		.\31 1u\24\28desktop\29 + *,
		.\31 0u\24\28desktop\29 + *,
		.\39 u\24\28desktop\29 + *,
		.\38 u\24\28desktop\29 + *,
		.\37 u\24\28desktop\29 + *,
		.\36 u\24\28desktop\29 + *,
		.\35 u\24\28desktop\29 + *,
		.\34 u\24\28desktop\29 + *,
		.\33 u\24\28desktop\29 + *,
		.\32 u\24\28desktop\29 + *,
		.\31 u\24\28desktop\29 + * {
			clear: left;
		}

		.\-11u\28desktop\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28desktop\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28desktop\29 {
			margin-left: 75%;
		}

		.\-8u\28desktop\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28desktop\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28desktop\29 {
			margin-left: 50%;
		}

		.\-5u\28desktop\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28desktop\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28desktop\29 {
			margin-left: 25%;
		}

		.\-2u\28desktop\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28desktop\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.fila > * {
			padding: 20px 0 0 20px;
		}

		.fila {
			margin: -20px 0 -1px -20px;
		}

		.fila.uniform > * {
			padding: 20px 0 0 20px;
		}

		.fila.uniform {
			margin: -20px 0 -1px -20px;
		}

		.fila.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.fila.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.fila.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.fila.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.fila.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.fila.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.fila.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.fila.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.fila.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.fila.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.fila.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.fila.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.fila.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.fila.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.fila.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.fila.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28tablet\29, .\31 2u\24\28tablet\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28tablet\29, .\31 1u\24\28tablet\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28tablet\29, .\31 0u\24\28tablet\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28tablet\29, .\39 u\24\28tablet\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28tablet\29, .\38 u\24\28tablet\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28tablet\29, .\37 u\24\28tablet\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28tablet\29, .\36 u\24\28tablet\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28tablet\29, .\35 u\24\28tablet\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28tablet\29, .\34 u\24\28tablet\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28tablet\29, .\33 u\24\28tablet\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28tablet\29, .\32 u\24\28tablet\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28tablet\29, .\31 u\24\28tablet\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28tablet\29 + *,
		.\31 1u\24\28tablet\29 + *,
		.\31 0u\24\28tablet\29 + *,
		.\39 u\24\28tablet\29 + *,
		.\38 u\24\28tablet\29 + *,
		.\37 u\24\28tablet\29 + *,
		.\36 u\24\28tablet\29 + *,
		.\35 u\24\28tablet\29 + *,
		.\34 u\24\28tablet\29 + *,
		.\33 u\24\28tablet\29 + *,
		.\32 u\24\28tablet\29 + *,
		.\31 u\24\28tablet\29 + * {
			clear: left;
		}

		.\-11u\28tablet\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28tablet\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28tablet\29 {
			margin-left: 75%;
		}

		.\-8u\28tablet\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28tablet\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28tablet\29 {
			margin-left: 50%;
		}

		.\-5u\28tablet\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28tablet\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28tablet\29 {
			margin-left: 25%;
		}

		.\-2u\28tablet\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28tablet\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.fila > * {
			padding: 20px 0 0 20px;
		}

		.fila {
			margin: -20px 0 -1px -20px;
		}

		.fila.uniform > * {
			padding: 20px 0 0 20px;
		}

		.fila.uniform {
			margin: -20px 0 -1px -20px;
		}

		.fila.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.fila.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.fila.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.fila.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.fila.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.fila.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.fila.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.fila.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.fila.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.fila.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.fila.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.fila.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.fila.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.fila.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.fila.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.fila.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Contenido General */

	body {
		background-color: #D4D9DD;
		color: #474f51;
		font-size: 13.5pt;
		font-family: 'Yanone Kaffeesatz';
		line-height: 1.85em;
		font-weight: 300;
	}

	input, textarea, select {
		color: #474f51;
		font-size: 13.5pt;
		font-family: 'Yanone Kaffeesatz';
		line-height: 1.85em;
		font-weight: 300;
	}

	ul, ol, p, dl {
		margin: 0 0 2em 0;
	}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	section > :last-child,
	.last-child {
		margin-bottom: 0 !important;
	}

/* General */

	.link-list li {
		padding: 0.2em 0 0.2em 0;
	}

		.link-list li:first-child {
			padding-top: 0 !important;
			border-top: 0 !important;
		}

		.link-list li:last-child {
			padding-bottom: 0 !important;
			border-bottom: 0 !important;
		}

	.quote-list li {
		padding: 1em 0 1em 0;
		overflow: hidden;
	}

		.quote-list li:first-child {
			padding-top: 0 !important;
			border-top: 0 !important;
		}

		.quote-list li:last-child {
			padding-bottom: 0 !important;
			border-bottom: 0 !important;
		}

		.quote-list li p {
			margin: 0 0 0 20px;
			font-size: 1.2em;
			font-style: italic;
		}

		.quote-list li span {
			display: block;
			margin-left: 20px;
			font-size: 0.9em;
			font-weight: 400;
		}

	.check-list li {
		padding: 0.7em 0 0.7em 45px;
		font-size: 1.2em;
	}

		.check-list li:first-child {
			padding-top: 0 !important;
			border-top: 0 !important;
			background-position: 0 0.3em;
		}

		.check-list li:last-child {
			padding-bottom: 0 !important;
			border-bottom: 0 !important;
		}

	.imagen-bordeada {
		display: block;
		background-color: #fff;
		padding: 10px;
		box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		margin: 0 0 1.5em 0;
		outline: 0;
	}

		.imagen-bordeada img {
			display: block;
			width: 100%;
		}

	.boton-promocional {
		background-image: -moz-linear-gradient(top, #ed391b, #ce1a00);
		background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
		background-image: -ms-linear-gradient(top, #ed391b, #ce1a00);
		background-image: linear-gradient(top, #ed391b, #ce1a00);
		display: inline-block;
		background-color: #ed391b;
		color: #fff;
		text-decoration: none;
		font-size: 1.75em;
		font-weight: 300;
		padding: 15px 45px 15px 45px;
		outline: 0;
		border-radius: 10px;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
	}

		.boton-promocional:hover {
			background-image: -moz-linear-gradient(top, #fd492b, #de2a10);
			background-image: -webkit-linear-gradient(top, #fd492b, #de2a10);
			background-image: -ms-linear-gradient(top, #fd492b, #de2a10);
			background-image: linear-gradient(top, #fd492b, #de2a10);
			background-color: #fd492b;
			box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		}

	/* Contenido General */
	
		#content .quote-list li {
			border-bottom: solid 1px #e2e6e8;
		}
	
		#content .link-list li {
			border-bottom: solid 1px #e2e6e8;
		}
	
		#content .check-list li {
			border-bottom: solid 1px #e2e6e8;
		}
		
		.titulo_pagina {
			font-size: 2.25em !important;
		}

	/* Footer */
	
		#footer .quote-list li {
			border-top: solid 1px #e0e4e6;
			border-bottom: solid 1px #b5bec3;
		}
	
		#footer .link-list li {
			border-top: solid 1px #e0e4e6;
			border-bottom: solid 1px #b5bec3;
		}
	
		#footer .check-list li {
			border-top: solid 1px #e0e4e6;
			border-bottom: solid 1px #b5bec3;
		}

/* Para Equipos de Escritorio */

	@media screen and (min-width: 737px) {

		/* General */

			body {
				min-width: 1200px;
			}

			section:last-child {
				margin-bottom: 0 !important;
			}

		/* Contenedores */

			#contenido_encabezado {
				background-color: #005179;
				border-bottom: solid 1px #272d30;
				box-shadow: inset 0px -1px 0px 0px #51575a;
				text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
			}

			.subpage #contenido_encabezado {
				height: 155px;
			}

			#div-contenido {
				background-color: #f7f7f7;
				border-top: solid 1px #fff;
				padding: 45px 0 45px 0;
			}

			#footer-wrapper {
				padding: 45px 0 45px 0;
				text-shadow: 1px 1px 1px white;
			}

		/* encabezado */

			#encabezado {
				min-height: 155px;
				position: relative;
			}
				
				#encabezado h1 {
					position: absolute;
					left: 0;
					bottom: 35px;
					font-size: 2.75em;
				}

					#encabezado h1 a {
						color: #fff;
						text-decoration: none;
					}

				#encabezado menu {
					position: absolute;
					right: 0;
					bottom: 35px;
					font-weight: 200;
				}

					#encabezado menu a {
						color: #c6c8c8;
						text-decoration: none;
						font-size: 1.4em;
						margin-left: 60px;
						outline: 0;
					}

						#encabezado menu a:hover {
							color: #f6f8f8;
						}

		/* Banner */

			#banner {
				border-top: solid 1px #222628;
				box-shadow: inset 0px 1px 0px 0px #3e484a;
				padding: 35px 0 35px 0;
				color: #fff;
			}
			
			#banner-image{
				max-width:570px;
				max-height:190px;
			}

				#banner .imagen-bordeada {
					margin-bottom: 0;
				}

				#banner p {
					font-size: 2em;
					font-weight: 200;
					line-height: 1.25em;
					padding-right: 1em;
					margin: 0 0 1em 0;
				}

		/* Contenido Principal */

			#content section {
				background: #fff;
				padding: 40px 30px 45px 30px;
				box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
				margin: 0 0 10% 0;
			}

			#content h2 {
				font-size: 1.8em;
				color: #373f42;
				margin: 0 0 0.25em 0;
			}

			#content h3 {
				color: #96a9b5;
				font-size: 1.25em;
			}

			#content a {
				color: #ED391B;
			}

			#content encabezado {
				margin: 0 0 2em 0;
			}
			
			encabezado img {
				max-width:100%;
			}

		/* Footer */

			#footer {
				color: #546b76;
				text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
			}

			#footer h2 {
				font-size: 1.25em;
				color: #212f35;
				margin: 0 0 1em 0;
			}

			#footer a {
				color: #546b76;
			}

	}

/* Para tablets */

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		/* Basic */

			body {
				min-width: 1000px;
			}

		/* Multi-use */

			.check-list li {
				font-size: 1em;
				line-height: 2em;
			}

			.quote-list li {
				padding: 1em 0 1em 0;
			}

				.quote-list li p {
					margin: 0 0 0 80px;
					font-size: 1em;
					font-style: italic;
					line-height: 1.8em;
				}

				.quote-list li span {
					display: block;
					margin-left: 80px;
					font-size: 0.8em;
					font-weight: 400;
					line-height: 1.8em;
				}

			.feature-image {
				margin: 0 0 1em 0;
			}

			.boton-promocional {
				font-size: 1.5em;
				padding: 10px 35px 10px 35px;
			}
			
			.titulo_pagina {
				font-size: 2.25em !important;
			}

		/* Banner */

			#banner p {
				font-size: 1.75em;
			}

		/* encabezado */

			#encabezado h1 {
				font-size: 2.25em;
			}
			
			#encabezado menu a {
				font-size: 1.1em;
			}

		/* Content */

			#content h2 {
				font-size: 1.4em;
			}

			#content h3 {
				font-size: 1.1em;
			}

			#content encabezado {
				margin: 0 0 1.25em 0;
			}
			
			encabezado img {
				max-width:100%;
			}

	}